<h1>Welcome</h1>

<% if !user_signed_in? %>
<%= link_to 'Sign In', new_user_session_path %>
<% else %>
<strong><%= current_user.name %></strong><br><br> 
Things to do:
<li><%= link_to 'Courses', courses_path %></li>
</br>
<% end %>


