<p id="notice"><%= notice %></p>


<div>



  <% if !current_user.courses.include? @course %>
  The class <strong><%= @course.name %></strong>
  was succesfully added to the user:
  <strong><%= current_user.name %></strong></br>
  <% current_user.courses << @course %>
  <% else %>
  That class is already added
  <% end %>
  
</div>
</br>


<%= link_to 'Back', courses_path %></br></br>
